.custom-header {
  --background: linear-gradient(to right, #00b4db, #0083b0);
  color: white;
  font-weight: bold;
}

ion-content {
  --background: linear-gradient(to bottom right, #f0f4f8, #ffffff);
}

.search-card,
.weather-card,
.favorites-card {
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  margin-top: 20px;
}

ion-button {
  border-radius: 14px;
  font-weight: 600;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  margin-top: 12px;
}
