<ion-header>
    <ion-toolbar>
      <ion-title>Area Info Lookup</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <ion-item>
      <ion-input placeholder="Enter city" [(ngModel)]="cityName"></ion-input>
      <ion-button (click)="searchCity()">Search</ion-button>
    </ion-item>
  
    <div *ngIf="weatherData">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ weatherData.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Temperature: {{ weatherData.main.temp }}°C</p>
          <p>Weather: {{ weatherData.weather[0].description }}</p>
          <p>Wind Speed: {{ weatherData.wind.speed }} m/s</p>
          <ion-button (click)="saveToFavorites()">Save to Favorites</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  
    <ion-list>
      <ion-list-header>
        <ion-label>Favorites</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let city of favoriteCities">
        <ion-label (click)="searchCity(city)">{{ city }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  